{% extends "employeeregister/base.html" %}  
{% block content %}   
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>Mobile</td>
            <td>Position</td>
            <td>
                <a href="{% url 'employee_insert' %}" class="btn btn-outline-success">

                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for employee in employee_list %}
        <tr>
            <td>{{employee.fullname}}</td>
            <td>{{employee.mobile}}</td>
            <td>{{employee.position}}</td>
            <td>
                <a href="{% url 'employee_update' employee.id %}" class="btn text-secondary px-0"></a>
                <form action="{% url 'employee_delete' employee.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn">

                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}  